$primary-color: #0070f3;
$secondary-color: #717171;
$main-font: "Gilroy";
$portfoliaGeneral-fontsize: 1rem;
$portfoliaGeneral-fontweight: 500;
$portfoliaTitle-fontsize: 2rem;
$portfoliaTitle-fontweight: 600;
